# ======================
# Python / venv
# ======================
.venv/
venv/
ENV/
env/
__pycache__/
*.py[cod]
*.pyd
*.so
*.egg-info/
dist/
build/

# ======================
# Jupyter
# ======================
.ipynb_checkpoints/
*.nbconvert.ipynb

# ======================
# OS / Editors
# ======================
.DS_Store
Thumbs.db
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/launch.json

# ======================
# Secrets
# ======================
.env
.env.*
*.key
*.pem

# ======================
# Data / Warehouse
# ======================
data/
*.bak
*.mdf
*.ldf
*.trn
*.csv
*.parquet

# ======================
# Power BI
# ======================
*.log

# ======================
# SQL Server / misc
# ======================
*.db
*.sqlite